@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-font {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mine-grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.75rem;
}

.mine-grid div {
  height: 36px;
  width: 36px;
  margin: 2px;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  background-color: rgb(15 23 42);
}

.mine-grid div[data="1"] {
  color: #1e90ff; /* Dodger Blue */
}

.mine-grid div[data="2"] {
  color: #ff4500; /* Orange Red */
}

.mine-grid div[data="3"] {
  color: #32cd32; /* Lime Green */
}

.mine-grid div[data="4"] {
  color: #8a2be2; /* Blue Violet */
}

.mine-grid div[data="5"] {
  color: #ff1493; /* Deep Pink */
}

.mine-grid div[data="6"] {
  color: #00ced1; /* Dark Turquoise */
}

.mine-grid div[data="7"] {
  color: #ff6347; /* Tomato */
}

.mine-grid div[data="8"] {
  color: #4682b4; /* Steel Blue */
}

.flag {
  position: relative;
  width: 36px; /* Adjust to your needs */
  height: 36px; /* Adjust to your needs */
}

.flag::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%; /* Adjust to shrink the image */
  height: 70%; /* Adjust to shrink the image */
  background-image: url('/assets/flag.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%); /* Center the image */
}

.bomb-exploded {
  position: relative;
  width: 36px; /* Adjust to your needs */
  height: 36px; /* Adjust to your needs */
  background-color: rgb(253, 114, 0) !important;
}

.bomb-exploded::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%; /* Adjust to shrink the image */
  height: 70%; /* Adjust to shrink the image */
  background-image: url('/assets/bomb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%); /* Center the image */
}

.mine-grid div.checked {
  background-color: rgb(255, 255, 255);
}
