@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.grid div {
  height: 40px;
  width: 40px;
}

.bomb {
  background-color: orangered;
}

.empty {
  background-color: greenyellow;
}

.checked {
  background-color: white;
}
